<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landasoft.mas.springboot.mybatis.generator.dao.MemberGlobalMapper">
  <resultMap id="BaseResultMap" type="com.landasoft.mas.springboot.mybatis.generator.entity.MemberGlobal">
    <id column="MEMBER_GLOBAL_ID" jdbcType="BIGINT" property="memberGlobalId" />
    <result column="ORG_ID" jdbcType="BIGINT" property="orgId" />
    <result column="GEO_ID" jdbcType="BIGINT" property="geoId" />
    <result column="GRADE_ID" jdbcType="BIGINT" property="gradeId" />
    <result column="MEMBER_CODE" jdbcType="VARCHAR" property="memberCode" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="LOGIN_PASSWORD" jdbcType="VARCHAR" property="loginPassword" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="MEMBER_NAME" jdbcType="VARCHAR" property="memberName" />
    <result column="GENDER" jdbcType="BIGINT" property="gender" />
    <result column="BIRTHDAY" jdbcType="CHAR" property="birthday" />
    <result column="LAST_LOGIN_TIME" jdbcType="CHAR" property="lastLoginTime" />
    <result column="LAST_LOGIN_IP" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="LAST_LOGIN_CITY" jdbcType="BIGINT" property="lastLoginCity" />
    <result column="LAST_CONSUMPTION_TIME" jdbcType="CHAR" property="lastConsumptionTime" />
    <result column="LAST_CONSUMPTION_CITY" jdbcType="BIGINT" property="lastConsumptionCity" />
    <result column="STATUS_ID" jdbcType="BIGINT" property="statusId" />
    <result column="ACTIVE_STATUS_ID" jdbcType="BIGINT" property="activeStatusId" />
    <result column="CONSUMPTION_STATUS_ID" jdbcType="BIGINT" property="consumptionStatusId" />
    <result column="MEMBER_PHOTO" jdbcType="VARCHAR" property="memberPhoto" />
    <result column="PROFESSION" jdbcType="BIGINT" property="profession" />
    <result column="INCOME" jdbcType="BIGINT" property="income" />
    <result column="HOBBY" jdbcType="VARCHAR" property="hobby" />
    <result column="IS_MARRIED" jdbcType="CHAR" property="isMarried" />
    <result column="ZODIAC" jdbcType="BIGINT" property="zodiac" />
    <result column="CHINESE_ZODIAC" jdbcType="BIGINT" property="chineseZodiac" />
    <result column="BLOOD" jdbcType="BIGINT" property="blood" />
    <result column="AGES" jdbcType="BIGINT" property="ages" />
    <result column="ID_CARD_NO" jdbcType="VARCHAR" property="idCardNo" />
    <result column="CONTACT_PHONE" jdbcType="VARCHAR" property="contactPhone" />
    <result column="CONTACT_ADDRESS" jdbcType="VARCHAR" property="contactAddress" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="NATION" jdbcType="CHAR" property="nation" />
    <result column="SCORE" jdbcType="BIGINT" property="score" />
    <result column="FAMILY" jdbcType="VARCHAR" property="family" />
    <result column="IS_VANKER_MEMBER" jdbcType="CHAR" property="isVankerMember" />
    <result column="CARD_TYPE" jdbcType="VARCHAR" property="cardType" />
    <result column="CREATE_CARD_DATE" jdbcType="CHAR" property="createCardDate" />
    <result column="WORK_SPACE" jdbcType="VARCHAR" property="workSpace" />
    <result column="LIVE_SPACE" jdbcType="VARCHAR" property="liveSpace" />
    <result column="HUKOU_SPACE" jdbcType="VARCHAR" property="hukouSpace" />
    <result column="PARTNER_NAME" jdbcType="VARCHAR" property="partnerName" />
    <result column="EDUCATED_LEVEL" jdbcType="CHAR" property="educatedLevel" />
    <result column="MEMBER_LDENTITY" jdbcType="CHAR" property="memberLdentity" />
    <result column="ENTRY_TIME" jdbcType="CHAR" property="entryTime" />
    <result column="CARD_NUMBER" jdbcType="VARCHAR" property="cardNumber" />
    <result column="ALIPAY_NUMBER" jdbcType="VARCHAR" property="alipayNumber" />
    <result column="EDUCATION" jdbcType="CHAR" property="education" />
    <result column="HAS_CAR" jdbcType="VARCHAR" property="hasCar" />
    <result column="REGISTER_TIME" jdbcType="VARCHAR" property="registerTime" />
    <result column="RECOMMEND_BY" jdbcType="BIGINT" property="recommendBy" />
    <result column="WECHAT" jdbcType="VARCHAR" property="wechat" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="SINA" jdbcType="VARCHAR" property="sina" />
    <result column="POST_CODE" jdbcType="VARCHAR" property="postCode" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="MEIHAO_LEVEL" jdbcType="VARCHAR" property="meihaoLevel" />
    <result column="MEIHAO_CARD_NO" jdbcType="VARCHAR" property="meihaoCardNo" />
    <result column="IS_ACTIVATION" jdbcType="CHAR" property="isActivation" />
    <result column="ACTIVATION_TIME" jdbcType="CHAR" property="activationTime" />
    <result column="INDUSTRY" jdbcType="VARCHAR" property="industry" />
    <result column="NATIVE_PLACE" jdbcType="VARCHAR" property="nativePlace" />
    <result column="HAVE_CHILDREN" jdbcType="VARCHAR" property="haveChildren" />
    <result column="CHANNEL_ID" jdbcType="BIGINT" property="channelId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from member_global
    where MEMBER_GLOBAL_ID = #{memberGlobalId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.landasoft.mas.springboot.mybatis.generator.entity.MemberGlobal">
    insert into member_global (MEMBER_GLOBAL_ID, ORG_ID, GEO_ID, 
      GRADE_ID, MEMBER_CODE, EMAIL, 
      MOBILE, LOGIN_PASSWORD, USER_NAME, 
      MEMBER_NAME, GENDER, BIRTHDAY, 
      LAST_LOGIN_TIME, LAST_LOGIN_IP, LAST_LOGIN_CITY, 
      LAST_CONSUMPTION_TIME, LAST_CONSUMPTION_CITY, STATUS_ID, 
      ACTIVE_STATUS_ID, CONSUMPTION_STATUS_ID, MEMBER_PHOTO, 
      PROFESSION, INCOME, HOBBY, 
      IS_MARRIED, ZODIAC, CHINESE_ZODIAC, 
      BLOOD, AGES, ID_CARD_NO, 
      CONTACT_PHONE, CONTACT_ADDRESS, REMARK, 
      NATION, SCORE, FAMILY, 
      IS_VANKER_MEMBER, CARD_TYPE, CREATE_CARD_DATE, 
      WORK_SPACE, LIVE_SPACE, HUKOU_SPACE, 
      PARTNER_NAME, EDUCATED_LEVEL, MEMBER_LDENTITY, 
      ENTRY_TIME, CARD_NUMBER, ALIPAY_NUMBER, 
      EDUCATION, HAS_CAR, REGISTER_TIME, 
      RECOMMEND_BY, WECHAT, QQ, 
      SINA, POST_CODE, COUNTRY, 
      PROVINCE, CITY, MEIHAO_LEVEL, 
      MEIHAO_CARD_NO, IS_ACTIVATION, ACTIVATION_TIME, 
      INDUSTRY, NATIVE_PLACE, HAVE_CHILDREN, 
      CHANNEL_ID)
    values (#{memberGlobalId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, #{geoId,jdbcType=BIGINT}, 
      #{gradeId,jdbcType=BIGINT}, #{memberCode,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{loginPassword,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{memberName,jdbcType=VARCHAR}, #{gender,jdbcType=BIGINT}, #{birthday,jdbcType=CHAR}, 
      #{lastLoginTime,jdbcType=CHAR}, #{lastLoginIp,jdbcType=VARCHAR}, #{lastLoginCity,jdbcType=BIGINT}, 
      #{lastConsumptionTime,jdbcType=CHAR}, #{lastConsumptionCity,jdbcType=BIGINT}, #{statusId,jdbcType=BIGINT}, 
      #{activeStatusId,jdbcType=BIGINT}, #{consumptionStatusId,jdbcType=BIGINT}, #{memberPhoto,jdbcType=VARCHAR}, 
      #{profession,jdbcType=BIGINT}, #{income,jdbcType=BIGINT}, #{hobby,jdbcType=VARCHAR}, 
      #{isMarried,jdbcType=CHAR}, #{zodiac,jdbcType=BIGINT}, #{chineseZodiac,jdbcType=BIGINT}, 
      #{blood,jdbcType=BIGINT}, #{ages,jdbcType=BIGINT}, #{idCardNo,jdbcType=VARCHAR}, 
      #{contactPhone,jdbcType=VARCHAR}, #{contactAddress,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{nation,jdbcType=CHAR}, #{score,jdbcType=BIGINT}, #{family,jdbcType=VARCHAR}, 
      #{isVankerMember,jdbcType=CHAR}, #{cardType,jdbcType=VARCHAR}, #{createCardDate,jdbcType=CHAR}, 
      #{workSpace,jdbcType=VARCHAR}, #{liveSpace,jdbcType=VARCHAR}, #{hukouSpace,jdbcType=VARCHAR}, 
      #{partnerName,jdbcType=VARCHAR}, #{educatedLevel,jdbcType=CHAR}, #{memberLdentity,jdbcType=CHAR}, 
      #{entryTime,jdbcType=CHAR}, #{cardNumber,jdbcType=VARCHAR}, #{alipayNumber,jdbcType=VARCHAR}, 
      #{education,jdbcType=CHAR}, #{hasCar,jdbcType=VARCHAR}, #{registerTime,jdbcType=VARCHAR}, 
      #{recommendBy,jdbcType=BIGINT}, #{wechat,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{sina,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{meihaoLevel,jdbcType=VARCHAR}, 
      #{meihaoCardNo,jdbcType=VARCHAR}, #{isActivation,jdbcType=CHAR}, #{activationTime,jdbcType=CHAR}, 
      #{industry,jdbcType=VARCHAR}, #{nativePlace,jdbcType=VARCHAR}, #{haveChildren,jdbcType=VARCHAR}, 
      #{channelId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.landasoft.mas.springboot.mybatis.generator.entity.MemberGlobal">
    update member_global
    set ORG_ID = #{orgId,jdbcType=BIGINT},
      GEO_ID = #{geoId,jdbcType=BIGINT},
      GRADE_ID = #{gradeId,jdbcType=BIGINT},
      MEMBER_CODE = #{memberCode,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      LOGIN_PASSWORD = #{loginPassword,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=BIGINT},
      BIRTHDAY = #{birthday,jdbcType=CHAR},
      LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=CHAR},
      LAST_LOGIN_IP = #{lastLoginIp,jdbcType=VARCHAR},
      LAST_LOGIN_CITY = #{lastLoginCity,jdbcType=BIGINT},
      LAST_CONSUMPTION_TIME = #{lastConsumptionTime,jdbcType=CHAR},
      LAST_CONSUMPTION_CITY = #{lastConsumptionCity,jdbcType=BIGINT},
      STATUS_ID = #{statusId,jdbcType=BIGINT},
      ACTIVE_STATUS_ID = #{activeStatusId,jdbcType=BIGINT},
      CONSUMPTION_STATUS_ID = #{consumptionStatusId,jdbcType=BIGINT},
      MEMBER_PHOTO = #{memberPhoto,jdbcType=VARCHAR},
      PROFESSION = #{profession,jdbcType=BIGINT},
      INCOME = #{income,jdbcType=BIGINT},
      HOBBY = #{hobby,jdbcType=VARCHAR},
      IS_MARRIED = #{isMarried,jdbcType=CHAR},
      ZODIAC = #{zodiac,jdbcType=BIGINT},
      CHINESE_ZODIAC = #{chineseZodiac,jdbcType=BIGINT},
      BLOOD = #{blood,jdbcType=BIGINT},
      AGES = #{ages,jdbcType=BIGINT},
      ID_CARD_NO = #{idCardNo,jdbcType=VARCHAR},
      CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      CONTACT_ADDRESS = #{contactAddress,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      NATION = #{nation,jdbcType=CHAR},
      SCORE = #{score,jdbcType=BIGINT},
      FAMILY = #{family,jdbcType=VARCHAR},
      IS_VANKER_MEMBER = #{isVankerMember,jdbcType=CHAR},
      CARD_TYPE = #{cardType,jdbcType=VARCHAR},
      CREATE_CARD_DATE = #{createCardDate,jdbcType=CHAR},
      WORK_SPACE = #{workSpace,jdbcType=VARCHAR},
      LIVE_SPACE = #{liveSpace,jdbcType=VARCHAR},
      HUKOU_SPACE = #{hukouSpace,jdbcType=VARCHAR},
      PARTNER_NAME = #{partnerName,jdbcType=VARCHAR},
      EDUCATED_LEVEL = #{educatedLevel,jdbcType=CHAR},
      MEMBER_LDENTITY = #{memberLdentity,jdbcType=CHAR},
      ENTRY_TIME = #{entryTime,jdbcType=CHAR},
      CARD_NUMBER = #{cardNumber,jdbcType=VARCHAR},
      ALIPAY_NUMBER = #{alipayNumber,jdbcType=VARCHAR},
      EDUCATION = #{education,jdbcType=CHAR},
      HAS_CAR = #{hasCar,jdbcType=VARCHAR},
      REGISTER_TIME = #{registerTime,jdbcType=VARCHAR},
      RECOMMEND_BY = #{recommendBy,jdbcType=BIGINT},
      WECHAT = #{wechat,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      SINA = #{sina,jdbcType=VARCHAR},
      POST_CODE = #{postCode,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      MEIHAO_LEVEL = #{meihaoLevel,jdbcType=VARCHAR},
      MEIHAO_CARD_NO = #{meihaoCardNo,jdbcType=VARCHAR},
      IS_ACTIVATION = #{isActivation,jdbcType=CHAR},
      ACTIVATION_TIME = #{activationTime,jdbcType=CHAR},
      INDUSTRY = #{industry,jdbcType=VARCHAR},
      NATIVE_PLACE = #{nativePlace,jdbcType=VARCHAR},
      HAVE_CHILDREN = #{haveChildren,jdbcType=VARCHAR},
      CHANNEL_ID = #{channelId,jdbcType=BIGINT}
    where MEMBER_GLOBAL_ID = #{memberGlobalId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MEMBER_GLOBAL_ID, ORG_ID, GEO_ID, GRADE_ID, MEMBER_CODE, EMAIL, MOBILE, LOGIN_PASSWORD, 
    USER_NAME, MEMBER_NAME, GENDER, BIRTHDAY, LAST_LOGIN_TIME, LAST_LOGIN_IP, LAST_LOGIN_CITY, 
    LAST_CONSUMPTION_TIME, LAST_CONSUMPTION_CITY, STATUS_ID, ACTIVE_STATUS_ID, CONSUMPTION_STATUS_ID, 
    MEMBER_PHOTO, PROFESSION, INCOME, HOBBY, IS_MARRIED, ZODIAC, CHINESE_ZODIAC, BLOOD, 
    AGES, ID_CARD_NO, CONTACT_PHONE, CONTACT_ADDRESS, REMARK, NATION, SCORE, FAMILY, 
    IS_VANKER_MEMBER, CARD_TYPE, CREATE_CARD_DATE, WORK_SPACE, LIVE_SPACE, HUKOU_SPACE, 
    PARTNER_NAME, EDUCATED_LEVEL, MEMBER_LDENTITY, ENTRY_TIME, CARD_NUMBER, ALIPAY_NUMBER, 
    EDUCATION, HAS_CAR, REGISTER_TIME, RECOMMEND_BY, WECHAT, QQ, SINA, POST_CODE, COUNTRY, 
    PROVINCE, CITY, MEIHAO_LEVEL, MEIHAO_CARD_NO, IS_ACTIVATION, ACTIVATION_TIME, INDUSTRY, 
    NATIVE_PLACE, HAVE_CHILDREN, CHANNEL_ID
    from member_global
    where MEMBER_GLOBAL_ID = #{memberGlobalId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MEMBER_GLOBAL_ID, ORG_ID, GEO_ID, GRADE_ID, MEMBER_CODE, EMAIL, MOBILE, LOGIN_PASSWORD, 
    USER_NAME, MEMBER_NAME, GENDER, BIRTHDAY, LAST_LOGIN_TIME, LAST_LOGIN_IP, LAST_LOGIN_CITY, 
    LAST_CONSUMPTION_TIME, LAST_CONSUMPTION_CITY, STATUS_ID, ACTIVE_STATUS_ID, CONSUMPTION_STATUS_ID, 
    MEMBER_PHOTO, PROFESSION, INCOME, HOBBY, IS_MARRIED, ZODIAC, CHINESE_ZODIAC, BLOOD, 
    AGES, ID_CARD_NO, CONTACT_PHONE, CONTACT_ADDRESS, REMARK, NATION, SCORE, FAMILY, 
    IS_VANKER_MEMBER, CARD_TYPE, CREATE_CARD_DATE, WORK_SPACE, LIVE_SPACE, HUKOU_SPACE, 
    PARTNER_NAME, EDUCATED_LEVEL, MEMBER_LDENTITY, ENTRY_TIME, CARD_NUMBER, ALIPAY_NUMBER, 
    EDUCATION, HAS_CAR, REGISTER_TIME, RECOMMEND_BY, WECHAT, QQ, SINA, POST_CODE, COUNTRY, 
    PROVINCE, CITY, MEIHAO_LEVEL, MEIHAO_CARD_NO, IS_ACTIVATION, ACTIVATION_TIME, INDUSTRY, 
    NATIVE_PLACE, HAVE_CHILDREN, CHANNEL_ID
    from member_global
  </select>
  <resultMap id="BaseResultMap" type="com.landasoft.mas.springboot.mybatis.generator.entity.MemberGlobal">
    <id column="MEMBER_GLOBAL_ID" jdbcType="BIGINT" property="MEMBER_GLOBAL_ID" />
    <result column="ORG_ID" jdbcType="BIGINT" property="ORG_ID" />
    <result column="GEO_ID" jdbcType="BIGINT" property="GEO_ID" />
    <result column="GRADE_ID" jdbcType="BIGINT" property="GRADE_ID" />
    <result column="MEMBER_CODE" jdbcType="VARCHAR" property="MEMBER_CODE" />
    <result column="EMAIL" jdbcType="VARCHAR" property="EMAIL" />
    <result column="MOBILE" jdbcType="VARCHAR" property="MOBILE" />
    <result column="LOGIN_PASSWORD" jdbcType="VARCHAR" property="LOGIN_PASSWORD" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="USER_NAME" />
    <result column="MEMBER_NAME" jdbcType="VARCHAR" property="MEMBER_NAME" />
    <result column="GENDER" jdbcType="BIGINT" property="GENDER" />
    <result column="BIRTHDAY" jdbcType="CHAR" property="BIRTHDAY" />
    <result column="LAST_LOGIN_TIME" jdbcType="CHAR" property="LAST_LOGIN_TIME" />
    <result column="LAST_LOGIN_IP" jdbcType="VARCHAR" property="LAST_LOGIN_IP" />
    <result column="LAST_LOGIN_CITY" jdbcType="BIGINT" property="LAST_LOGIN_CITY" />
    <result column="LAST_CONSUMPTION_TIME" jdbcType="CHAR" property="LAST_CONSUMPTION_TIME" />
    <result column="LAST_CONSUMPTION_CITY" jdbcType="BIGINT" property="LAST_CONSUMPTION_CITY" />
    <result column="STATUS_ID" jdbcType="BIGINT" property="STATUS_ID" />
    <result column="ACTIVE_STATUS_ID" jdbcType="BIGINT" property="ACTIVE_STATUS_ID" />
    <result column="CONSUMPTION_STATUS_ID" jdbcType="BIGINT" property="CONSUMPTION_STATUS_ID" />
    <result column="MEMBER_PHOTO" jdbcType="VARCHAR" property="MEMBER_PHOTO" />
    <result column="PROFESSION" jdbcType="BIGINT" property="PROFESSION" />
    <result column="INCOME" jdbcType="BIGINT" property="INCOME" />
    <result column="HOBBY" jdbcType="VARCHAR" property="HOBBY" />
    <result column="IS_MARRIED" jdbcType="CHAR" property="IS_MARRIED" />
    <result column="ZODIAC" jdbcType="BIGINT" property="ZODIAC" />
    <result column="CHINESE_ZODIAC" jdbcType="BIGINT" property="CHINESE_ZODIAC" />
    <result column="BLOOD" jdbcType="BIGINT" property="BLOOD" />
    <result column="AGES" jdbcType="BIGINT" property="AGES" />
    <result column="ID_CARD_NO" jdbcType="VARCHAR" property="ID_CARD_NO" />
    <result column="CONTACT_PHONE" jdbcType="VARCHAR" property="CONTACT_PHONE" />
    <result column="CONTACT_ADDRESS" jdbcType="VARCHAR" property="CONTACT_ADDRESS" />
    <result column="REMARK" jdbcType="VARCHAR" property="REMARK" />
    <result column="NATION" jdbcType="CHAR" property="NATION" />
    <result column="SCORE" jdbcType="BIGINT" property="SCORE" />
    <result column="FAMILY" jdbcType="VARCHAR" property="FAMILY" />
    <result column="IS_VANKER_MEMBER" jdbcType="CHAR" property="IS_VANKER_MEMBER" />
    <result column="CARD_TYPE" jdbcType="VARCHAR" property="CARD_TYPE" />
    <result column="CREATE_CARD_DATE" jdbcType="CHAR" property="CREATE_CARD_DATE" />
    <result column="WORK_SPACE" jdbcType="VARCHAR" property="WORK_SPACE" />
    <result column="LIVE_SPACE" jdbcType="VARCHAR" property="LIVE_SPACE" />
    <result column="HUKOU_SPACE" jdbcType="VARCHAR" property="HUKOU_SPACE" />
    <result column="PARTNER_NAME" jdbcType="VARCHAR" property="PARTNER_NAME" />
    <result column="EDUCATED_LEVEL" jdbcType="CHAR" property="EDUCATED_LEVEL" />
    <result column="MEMBER_LDENTITY" jdbcType="CHAR" property="MEMBER_LDENTITY" />
    <result column="ENTRY_TIME" jdbcType="CHAR" property="ENTRY_TIME" />
    <result column="CARD_NUMBER" jdbcType="VARCHAR" property="CARD_NUMBER" />
    <result column="ALIPAY_NUMBER" jdbcType="VARCHAR" property="ALIPAY_NUMBER" />
    <result column="EDUCATION" jdbcType="CHAR" property="EDUCATION" />
    <result column="HAS_CAR" jdbcType="VARCHAR" property="HAS_CAR" />
    <result column="REGISTER_TIME" jdbcType="VARCHAR" property="REGISTER_TIME" />
    <result column="RECOMMEND_BY" jdbcType="BIGINT" property="RECOMMEND_BY" />
    <result column="WECHAT" jdbcType="VARCHAR" property="WECHAT" />
    <result column="QQ" jdbcType="VARCHAR" property="QQ" />
    <result column="SINA" jdbcType="VARCHAR" property="SINA" />
    <result column="POST_CODE" jdbcType="VARCHAR" property="POST_CODE" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="COUNTRY" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="PROVINCE" />
    <result column="CITY" jdbcType="VARCHAR" property="CITY" />
    <result column="MEIHAO_LEVEL" jdbcType="VARCHAR" property="MEIHAO_LEVEL" />
    <result column="MEIHAO_CARD_NO" jdbcType="VARCHAR" property="MEIHAO_CARD_NO" />
    <result column="IS_ACTIVATION" jdbcType="CHAR" property="IS_ACTIVATION" />
    <result column="ACTIVATION_TIME" jdbcType="CHAR" property="ACTIVATION_TIME" />
    <result column="INDUSTRY" jdbcType="VARCHAR" property="INDUSTRY" />
    <result column="NATIVE_PLACE" jdbcType="VARCHAR" property="NATIVE_PLACE" />
    <result column="HAVE_CHILDREN" jdbcType="VARCHAR" property="HAVE_CHILDREN" />
    <result column="CHANNEL_ID" jdbcType="BIGINT" property="CHANNEL_ID" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from member_global
    where MEMBER_GLOBAL_ID = #{MEMBER_GLOBAL_ID,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.landasoft.mas.springboot.mybatis.generator.entity.MemberGlobal">
    insert into member_global (MEMBER_GLOBAL_ID, ORG_ID, GEO_ID, 
      GRADE_ID, MEMBER_CODE, EMAIL, 
      MOBILE, LOGIN_PASSWORD, USER_NAME, 
      MEMBER_NAME, GENDER, BIRTHDAY, 
      LAST_LOGIN_TIME, LAST_LOGIN_IP, LAST_LOGIN_CITY, 
      LAST_CONSUMPTION_TIME, LAST_CONSUMPTION_CITY, 
      STATUS_ID, ACTIVE_STATUS_ID, CONSUMPTION_STATUS_ID, 
      MEMBER_PHOTO, PROFESSION, INCOME, 
      HOBBY, IS_MARRIED, ZODIAC, 
      CHINESE_ZODIAC, BLOOD, AGES, 
      ID_CARD_NO, CONTACT_PHONE, CONTACT_ADDRESS, 
      REMARK, NATION, SCORE, 
      FAMILY, IS_VANKER_MEMBER, CARD_TYPE, 
      CREATE_CARD_DATE, WORK_SPACE, LIVE_SPACE, 
      HUKOU_SPACE, PARTNER_NAME, EDUCATED_LEVEL, 
      MEMBER_LDENTITY, ENTRY_TIME, CARD_NUMBER, 
      ALIPAY_NUMBER, EDUCATION, HAS_CAR, 
      REGISTER_TIME, RECOMMEND_BY, WECHAT, 
      QQ, SINA, POST_CODE, 
      COUNTRY, PROVINCE, CITY, 
      MEIHAO_LEVEL, MEIHAO_CARD_NO, IS_ACTIVATION, 
      ACTIVATION_TIME, INDUSTRY, NATIVE_PLACE, 
      HAVE_CHILDREN, CHANNEL_ID)
    values (#{MEMBER_GLOBAL_ID,jdbcType=BIGINT}, #{ORG_ID,jdbcType=BIGINT}, #{GEO_ID,jdbcType=BIGINT}, 
      #{GRADE_ID,jdbcType=BIGINT}, #{MEMBER_CODE,jdbcType=VARCHAR}, #{EMAIL,jdbcType=VARCHAR}, 
      #{MOBILE,jdbcType=VARCHAR}, #{LOGIN_PASSWORD,jdbcType=VARCHAR}, #{USER_NAME,jdbcType=VARCHAR}, 
      #{MEMBER_NAME,jdbcType=VARCHAR}, #{GENDER,jdbcType=BIGINT}, #{BIRTHDAY,jdbcType=CHAR}, 
      #{LAST_LOGIN_TIME,jdbcType=CHAR}, #{LAST_LOGIN_IP,jdbcType=VARCHAR}, #{LAST_LOGIN_CITY,jdbcType=BIGINT}, 
      #{LAST_CONSUMPTION_TIME,jdbcType=CHAR}, #{LAST_CONSUMPTION_CITY,jdbcType=BIGINT}, 
      #{STATUS_ID,jdbcType=BIGINT}, #{ACTIVE_STATUS_ID,jdbcType=BIGINT}, #{CONSUMPTION_STATUS_ID,jdbcType=BIGINT}, 
      #{MEMBER_PHOTO,jdbcType=VARCHAR}, #{PROFESSION,jdbcType=BIGINT}, #{INCOME,jdbcType=BIGINT}, 
      #{HOBBY,jdbcType=VARCHAR}, #{IS_MARRIED,jdbcType=CHAR}, #{ZODIAC,jdbcType=BIGINT}, 
      #{CHINESE_ZODIAC,jdbcType=BIGINT}, #{BLOOD,jdbcType=BIGINT}, #{AGES,jdbcType=BIGINT}, 
      #{ID_CARD_NO,jdbcType=VARCHAR}, #{CONTACT_PHONE,jdbcType=VARCHAR}, #{CONTACT_ADDRESS,jdbcType=VARCHAR}, 
      #{REMARK,jdbcType=VARCHAR}, #{NATION,jdbcType=CHAR}, #{SCORE,jdbcType=BIGINT}, 
      #{FAMILY,jdbcType=VARCHAR}, #{IS_VANKER_MEMBER,jdbcType=CHAR}, #{CARD_TYPE,jdbcType=VARCHAR}, 
      #{CREATE_CARD_DATE,jdbcType=CHAR}, #{WORK_SPACE,jdbcType=VARCHAR}, #{LIVE_SPACE,jdbcType=VARCHAR}, 
      #{HUKOU_SPACE,jdbcType=VARCHAR}, #{PARTNER_NAME,jdbcType=VARCHAR}, #{EDUCATED_LEVEL,jdbcType=CHAR}, 
      #{MEMBER_LDENTITY,jdbcType=CHAR}, #{ENTRY_TIME,jdbcType=CHAR}, #{CARD_NUMBER,jdbcType=VARCHAR}, 
      #{ALIPAY_NUMBER,jdbcType=VARCHAR}, #{EDUCATION,jdbcType=CHAR}, #{HAS_CAR,jdbcType=VARCHAR}, 
      #{REGISTER_TIME,jdbcType=VARCHAR}, #{RECOMMEND_BY,jdbcType=BIGINT}, #{WECHAT,jdbcType=VARCHAR}, 
      #{QQ,jdbcType=VARCHAR}, #{SINA,jdbcType=VARCHAR}, #{POST_CODE,jdbcType=VARCHAR}, 
      #{COUNTRY,jdbcType=VARCHAR}, #{PROVINCE,jdbcType=VARCHAR}, #{CITY,jdbcType=VARCHAR}, 
      #{MEIHAO_LEVEL,jdbcType=VARCHAR}, #{MEIHAO_CARD_NO,jdbcType=VARCHAR}, #{IS_ACTIVATION,jdbcType=CHAR}, 
      #{ACTIVATION_TIME,jdbcType=CHAR}, #{INDUSTRY,jdbcType=VARCHAR}, #{NATIVE_PLACE,jdbcType=VARCHAR}, 
      #{HAVE_CHILDREN,jdbcType=VARCHAR}, #{CHANNEL_ID,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.landasoft.mas.springboot.mybatis.generator.entity.MemberGlobal">
    update member_global
    set ORG_ID = #{ORG_ID,jdbcType=BIGINT},
      GEO_ID = #{GEO_ID,jdbcType=BIGINT},
      GRADE_ID = #{GRADE_ID,jdbcType=BIGINT},
      MEMBER_CODE = #{MEMBER_CODE,jdbcType=VARCHAR},
      EMAIL = #{EMAIL,jdbcType=VARCHAR},
      MOBILE = #{MOBILE,jdbcType=VARCHAR},
      LOGIN_PASSWORD = #{LOGIN_PASSWORD,jdbcType=VARCHAR},
      USER_NAME = #{USER_NAME,jdbcType=VARCHAR},
      MEMBER_NAME = #{MEMBER_NAME,jdbcType=VARCHAR},
      GENDER = #{GENDER,jdbcType=BIGINT},
      BIRTHDAY = #{BIRTHDAY,jdbcType=CHAR},
      LAST_LOGIN_TIME = #{LAST_LOGIN_TIME,jdbcType=CHAR},
      LAST_LOGIN_IP = #{LAST_LOGIN_IP,jdbcType=VARCHAR},
      LAST_LOGIN_CITY = #{LAST_LOGIN_CITY,jdbcType=BIGINT},
      LAST_CONSUMPTION_TIME = #{LAST_CONSUMPTION_TIME,jdbcType=CHAR},
      LAST_CONSUMPTION_CITY = #{LAST_CONSUMPTION_CITY,jdbcType=BIGINT},
      STATUS_ID = #{STATUS_ID,jdbcType=BIGINT},
      ACTIVE_STATUS_ID = #{ACTIVE_STATUS_ID,jdbcType=BIGINT},
      CONSUMPTION_STATUS_ID = #{CONSUMPTION_STATUS_ID,jdbcType=BIGINT},
      MEMBER_PHOTO = #{MEMBER_PHOTO,jdbcType=VARCHAR},
      PROFESSION = #{PROFESSION,jdbcType=BIGINT},
      INCOME = #{INCOME,jdbcType=BIGINT},
      HOBBY = #{HOBBY,jdbcType=VARCHAR},
      IS_MARRIED = #{IS_MARRIED,jdbcType=CHAR},
      ZODIAC = #{ZODIAC,jdbcType=BIGINT},
      CHINESE_ZODIAC = #{CHINESE_ZODIAC,jdbcType=BIGINT},
      BLOOD = #{BLOOD,jdbcType=BIGINT},
      AGES = #{AGES,jdbcType=BIGINT},
      ID_CARD_NO = #{ID_CARD_NO,jdbcType=VARCHAR},
      CONTACT_PHONE = #{CONTACT_PHONE,jdbcType=VARCHAR},
      CONTACT_ADDRESS = #{CONTACT_ADDRESS,jdbcType=VARCHAR},
      REMARK = #{REMARK,jdbcType=VARCHAR},
      NATION = #{NATION,jdbcType=CHAR},
      SCORE = #{SCORE,jdbcType=BIGINT},
      FAMILY = #{FAMILY,jdbcType=VARCHAR},
      IS_VANKER_MEMBER = #{IS_VANKER_MEMBER,jdbcType=CHAR},
      CARD_TYPE = #{CARD_TYPE,jdbcType=VARCHAR},
      CREATE_CARD_DATE = #{CREATE_CARD_DATE,jdbcType=CHAR},
      WORK_SPACE = #{WORK_SPACE,jdbcType=VARCHAR},
      LIVE_SPACE = #{LIVE_SPACE,jdbcType=VARCHAR},
      HUKOU_SPACE = #{HUKOU_SPACE,jdbcType=VARCHAR},
      PARTNER_NAME = #{PARTNER_NAME,jdbcType=VARCHAR},
      EDUCATED_LEVEL = #{EDUCATED_LEVEL,jdbcType=CHAR},
      MEMBER_LDENTITY = #{MEMBER_LDENTITY,jdbcType=CHAR},
      ENTRY_TIME = #{ENTRY_TIME,jdbcType=CHAR},
      CARD_NUMBER = #{CARD_NUMBER,jdbcType=VARCHAR},
      ALIPAY_NUMBER = #{ALIPAY_NUMBER,jdbcType=VARCHAR},
      EDUCATION = #{EDUCATION,jdbcType=CHAR},
      HAS_CAR = #{HAS_CAR,jdbcType=VARCHAR},
      REGISTER_TIME = #{REGISTER_TIME,jdbcType=VARCHAR},
      RECOMMEND_BY = #{RECOMMEND_BY,jdbcType=BIGINT},
      WECHAT = #{WECHAT,jdbcType=VARCHAR},
      QQ = #{QQ,jdbcType=VARCHAR},
      SINA = #{SINA,jdbcType=VARCHAR},
      POST_CODE = #{POST_CODE,jdbcType=VARCHAR},
      COUNTRY = #{COUNTRY,jdbcType=VARCHAR},
      PROVINCE = #{PROVINCE,jdbcType=VARCHAR},
      CITY = #{CITY,jdbcType=VARCHAR},
      MEIHAO_LEVEL = #{MEIHAO_LEVEL,jdbcType=VARCHAR},
      MEIHAO_CARD_NO = #{MEIHAO_CARD_NO,jdbcType=VARCHAR},
      IS_ACTIVATION = #{IS_ACTIVATION,jdbcType=CHAR},
      ACTIVATION_TIME = #{ACTIVATION_TIME,jdbcType=CHAR},
      INDUSTRY = #{INDUSTRY,jdbcType=VARCHAR},
      NATIVE_PLACE = #{NATIVE_PLACE,jdbcType=VARCHAR},
      HAVE_CHILDREN = #{HAVE_CHILDREN,jdbcType=VARCHAR},
      CHANNEL_ID = #{CHANNEL_ID,jdbcType=BIGINT}
    where MEMBER_GLOBAL_ID = #{MEMBER_GLOBAL_ID,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select MEMBER_GLOBAL_ID, ORG_ID, GEO_ID, GRADE_ID, MEMBER_CODE, EMAIL, MOBILE, LOGIN_PASSWORD, 
    USER_NAME, MEMBER_NAME, GENDER, BIRTHDAY, LAST_LOGIN_TIME, LAST_LOGIN_IP, LAST_LOGIN_CITY, 
    LAST_CONSUMPTION_TIME, LAST_CONSUMPTION_CITY, STATUS_ID, ACTIVE_STATUS_ID, CONSUMPTION_STATUS_ID, 
    MEMBER_PHOTO, PROFESSION, INCOME, HOBBY, IS_MARRIED, ZODIAC, CHINESE_ZODIAC, BLOOD, 
    AGES, ID_CARD_NO, CONTACT_PHONE, CONTACT_ADDRESS, REMARK, NATION, SCORE, FAMILY, 
    IS_VANKER_MEMBER, CARD_TYPE, CREATE_CARD_DATE, WORK_SPACE, LIVE_SPACE, HUKOU_SPACE, 
    PARTNER_NAME, EDUCATED_LEVEL, MEMBER_LDENTITY, ENTRY_TIME, CARD_NUMBER, ALIPAY_NUMBER, 
    EDUCATION, HAS_CAR, REGISTER_TIME, RECOMMEND_BY, WECHAT, QQ, SINA, POST_CODE, COUNTRY, 
    PROVINCE, CITY, MEIHAO_LEVEL, MEIHAO_CARD_NO, IS_ACTIVATION, ACTIVATION_TIME, INDUSTRY, 
    NATIVE_PLACE, HAVE_CHILDREN, CHANNEL_ID
    from member_global
    where MEMBER_GLOBAL_ID = #{MEMBER_GLOBAL_ID,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MEMBER_GLOBAL_ID, ORG_ID, GEO_ID, GRADE_ID, MEMBER_CODE, EMAIL, MOBILE, LOGIN_PASSWORD, 
    USER_NAME, MEMBER_NAME, GENDER, BIRTHDAY, LAST_LOGIN_TIME, LAST_LOGIN_IP, LAST_LOGIN_CITY, 
    LAST_CONSUMPTION_TIME, LAST_CONSUMPTION_CITY, STATUS_ID, ACTIVE_STATUS_ID, CONSUMPTION_STATUS_ID, 
    MEMBER_PHOTO, PROFESSION, INCOME, HOBBY, IS_MARRIED, ZODIAC, CHINESE_ZODIAC, BLOOD, 
    AGES, ID_CARD_NO, CONTACT_PHONE, CONTACT_ADDRESS, REMARK, NATION, SCORE, FAMILY, 
    IS_VANKER_MEMBER, CARD_TYPE, CREATE_CARD_DATE, WORK_SPACE, LIVE_SPACE, HUKOU_SPACE, 
    PARTNER_NAME, EDUCATED_LEVEL, MEMBER_LDENTITY, ENTRY_TIME, CARD_NUMBER, ALIPAY_NUMBER, 
    EDUCATION, HAS_CAR, REGISTER_TIME, RECOMMEND_BY, WECHAT, QQ, SINA, POST_CODE, COUNTRY, 
    PROVINCE, CITY, MEIHAO_LEVEL, MEIHAO_CARD_NO, IS_ACTIVATION, ACTIVATION_TIME, INDUSTRY, 
    NATIVE_PLACE, HAVE_CHILDREN, CHANNEL_ID
    from member_global
  </select>
</mapper>